.rtl{

  .input-group {
    > .form-control,
    > .custom-select,
    > .custom-file {
      + .form-control,
      + .custom-select,
      + .custom-file {
        margin-right: -$input-border-width;
        margin-left: auto;
      }
    }

    > .form-control,
    > .custom-select {
      &:not(:last-child) {
        @include border-left-radius(0);
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
      }
      &:not(:first-child) {
        @include border-right-radius(0);
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;}
    }
    > .custom-file {
      &:not(:last-child) .custom-file-label,
      &:not(:last-child) .custom-file-label::after {
        @include border-left-radius(0);
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
      }
      &:not(:first-child) .custom-file-label {
        @include border-right-radius(0);
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;}
    }
  }

  .input-group-prepend,
  .input-group-append {
    .btn + .btn,
    .btn + .input-group-text,
    .input-group-text + .input-group-text,
    .input-group-text + .btn {
      margin-right: -$input-border-width;
      margin-left: auto;
    }
  }

  .input-group-prepend {
    margin-left: -$input-border-width;
    margin-right: auto;
  }
  .input-group-append {
    margin-right: -$input-border-width;
    margin-left: auto;
  }


  .input-group > .input-group-prepend > .btn,
  .input-group > .input-group-prepend > .input-group-text,
  .input-group > .input-group-append:not(:last-child) > .btn,
  .input-group > .input-group-append:not(:last-child) > .input-group-text,
  .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    @include border-left-radius(0);
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  .input-group > .input-group-append > .btn,
  .input-group > .input-group-append > .input-group-text,
  .input-group > .input-group-prepend:not(:first-child) > .btn,
  .input-group > .input-group-prepend:not(:first-child) > .input-group-text,
  .input-group > .input-group-prepend:first-child > .btn:not(:first-child),
  .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
    @include border-right-radius(0);
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
  }
}